/* Paleta de colores y tipografia por defecto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

footer {
    background-color:white;
    color: var(--gris-oscuro);
    padding: 20px;
    text-align: center;
}

footer h3 {
    font-size: 18px;
}

footer p {
    font-size: 12px;
}

.Copyright {
    font-size: 10px;
    margin-left: 20px;
}