:root {
    --color-amarillo-ML: #EAC926;
    --color-gris: #666;
    --color-gris-claro: #ebebeb;
    --color-azul: #03264C;
    --color-azul-claro: #1259c3;
    --color-verde-descuento: #39b54a;
}

header {
    background-color: var(--color-amarillo-ML);
    text-align: center;
}

.header-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.header-container1>a{
    text-align: center;
    width: 50%;
}

.header-container1>a>img {
    width: 130px;
    margin-top: 2px;
}

.header-container1>form {
    margin: 0;
    text-align: left;
    width: 50%;
}

.header-container1>form>input {
    width: 35vw;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.header-container1>form>button {
    padding: 10px;
    border: none;
    margin-left: -4px;
    border-radius: 0 5px 5px 0;
}

.header-descripcion {
    display: inline-block;
}

.fuente-descripcion {
    margin: 10px;
}

header>nav ul{
    margin: 10px;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: black;
}

.burger-menu{
    display:inline-block;
    color: white;
    background-color: var(--color-azul-claro);
    border: 2px solid var(--color-azul-claro);
    padding: 4px 6px;
    border-radius: 5px;
    margin-bottom: 10px;
}

header>nav {
    display: none;
}

/*formato responsive*/

@media screen and (min-width:768px) { /* Tablet */
    header {
        padding: 0 5vw;
        background: var(--color-amarillo-ML);
    }
    .header-container1 {
        justify-content: space-between;
    }
    .header-container1>form>input {
        width: 88%;
    }
    .header-container1>a{
        width: 15%;
        text-align: left;
        margin-right: 20px;
    }
    .header-container1>form {
        margin: 0;
        text-align: center;
        width: 45%;
    }
    .header-descripcion {
        display: flex;
        justify-content: end;
        width: 34%;
        margin: 0;
        font-size: 12px;
        align-items: center;
    }
    .burger-menu {
        display: none !important;
    }
    .header-nav {
        display:flex;
        padding: 10px 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        font-size: 14px;
    }
    .header-nav ul {
        gap: 15px;
        display: flex;
    }
    li {
        list-style: none;
    }
    .header-nav-1 {
        width: 45%;
        margin-left: 0;
    }
    .header-nav-2 {
        width: 45%;
        display: flex;
        justify-content: end;
    }
}
@media screen and (min-width:1024px) {
    header {
        padding: 0 10vw;
        background: var(--color-amarillo-ML);
    }
    .header-container1>form {
        width: 50%;
    }
    .header-descripcion {
        width: 30%;
    }
}
@media screen and (min-width:1366px) {
    
    .header-container1>form {
        width: 55%;
    }
    .header-descripcion {
        width: 25%;
    }
}
@media screen and (min-width:1600px) {
    header {
        padding: 0 20vw;
    }
}