:root {
    --color-amarillo-ML: #EAC926;
    --color-gris: #666;
    --color-gris-claro: #ebebeb;
    --color-azul: #03264C;
    --color-azul-claro: #1259c3;
    --color-verde-descuento: #39b54a;
}

/* animaciones */

.main-section-producto h4 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.main-section-article:hover .main-section-producto h4 {
    opacity: 1;
}

.main-section-article {
    transition: box-shadow 0.3s ease;
}

.main-section-article:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.fa-truck {
    transition: transform 0.3s ease;
}

.main-section-article:hover .fa-truck {
    transform: rotate(-90deg);
}


/*------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: roboto, sans-serif;
}

img{
    width: 300px;
}
p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

#banner{
    display: none;
}

.main-h2 {
    color: #666;
    padding: 10px;
}

.main-section-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-producto {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 1px;
    text-align: left;
    padding: 15px;
}

div>h4 {
    color: #666;
}

.fa-truck {
    color: var(--color-verde-descuento);
    padding: 6px 5px;
    border: solid 1px;
    border-radius: 100%;
    position: absolute;
    font-size: 15px;
    top: -15px;
    right: 20px;
}

.precio-container{
    display: flex;
    width: 100%;
}

.precio{
    font-size: 18px;
    padding-top: 0px;
    display: inline-block;
    width: 30%;
    padding-bottom: 20px;
}
.descuento{
    font-size: 16px;
    color: var(--color-verde-descuento);
    display: inline-block;
    width: 70%;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 20px;
}

.fuente-descripcion{
    font-size: 16px;
}

/* REGISTRO */

.registro-main{
    background-color: var(--color-gris-claro);
}

.registro-div {
    background-color: var(--color-gris-claro);
    padding: 10px 0;
    text-align: center;
}

.registro-div>input {
    padding: 10px ;
    width: 85vw;
    border: none;
    margin: 20px 0;
}

.registro-h2 {
    margin: 0 7.5vw;
}

.registro-label {
    display: flex;
    justify-content: space-between;
    margin: 20px 7.5vw;
}

.registro-intereses {
    margin: 20px 7.5vw;
}

.registro-intereses input {
    margin-right: 10px;
}

.input-foto-usuario {
    margin: 20px 7.5vw;
    width: 85vw;
}

.registro-div>input[type="submit"] {
    background-color:var(--color-azul-claro);
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* LOGIN */

.main-login {
    background-color:#ebebeb;
    padding: 20px 0;
    text-align: center;
}

.main-login>form>div>input {
    padding: 10px ;
    width: 85vw;
    border: none;
    margin: 20px 0;
}

.main-login>form>div input[type="submit"] {
    width: 85vw;
    background-color:var(--color-azul-claro);
    color: white;
}

/* formato responsive */

@media screen and (min-width:768px) { /* Tablet */
    #banner {
        display: block;
        width: 100%;
    }
    .precio {
        padding-top: 0;
    }
    .main-home {
        padding: 20px 9vw ;
        background-color:#ebebeb;
        margin: auto;
        text-align: center;
        padding-bottom: 60px;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .main-h2 {
        color: #666;
        margin-bottom: 20px;
    }
    .main-h2-ofertas {
        margin-top: 20px;
    }
    .main-section-article {
        width: 300px;
        box-shadow: 0px 0px 10px rgb(180, 180, 180);
    }
    .main-section-producto {
        margin-bottom: 0;
    }

    /* REGISTER */
    .registro-main {
        padding: 20px 0;
    }
    .register-userphoto {
        text-align: left;
    }
    .registro-fotoUsuario input {
        margin: 20px 0;
    }
    .registro-h2 {
        text-align: left;
        margin: 0;
    }
    .registro-intereses-padre {
        text-align: left;
        margin: 0 -7.5vw;
    }
    .registro-intereses {
        margin: 20px 7.5vw;
    }
    .registro-intereses input {
        margin-right: 0px;
        position: absolute;
        left: -10%;
    }
    .registro-label {
        margin: 20px 0;
    }
    .registro-main {
        margin: 0 200px;
    }
    body {
        background-color: var(--color-gris-claro);
    }
    .registro-main input {
        width: 100%;
    }
    /* LOGIN */
    .main-login>form>div {
        display: flex;
        margin: 0 200px;
    }
}
@media screen and (min-width:1024px) {
    .main-home {
        padding: 20px 14vw ;
        padding-bottom: 60px;
    }
}
@media screen and (min-width:1280px) {
    .main-home {
        padding: 20px 1vw;
        padding-bottom: 60px;
    }
    .registro-main {
        margin: 0 25vw;
    }
    .main-login {
        margin: auto;
    }
    .registro-div {
        width: 50vw;
    }
    .registro-intereses-padre {
        text-align: left;
        margin: 10px 0;
        width: 50vw
    }
    .registro-intereses input {
        margin-right: 0px;
        position: absolute;
        left: -10%;
    }
    .registro-h2 {
        width: 50vw;
    }
    .registro-label {
        width: 50vw;
    }
    .input-foto-usuario {
        width: 50vw;
        margin: 0;
    }
    .registro-fotoUsuario {
        width: 50vw;
    }
    .registro-intereses {
        width: 50vw;
        margin-left: 0;
    }
    .perfil-container{
        width: 50vw;
    }
    .main-login  {
        width: 75vw; 
    }
}